* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-second {
    width: 80%;
    min-height: 38px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #6db33f;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#chat-page {
    position: relative;
    height: 100%;
    margin-top: 20px;
}

.chat-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm #privateMessageForm {
    padding: 20px;
    margin: auto;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 700px;
}
#messageForm .input-group {
    display: flex;
}
#messageForm .input-group input {
    float: left;
    flex: 1;
}
#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

#messageArea {
  max-height: 400px;
  overflow-y: auto;
}

#connectForm {
    text-align: center;
    margin-top: 20vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
#connectForm input {
    width: 90%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin: 15px;
    outline: none;
}
#connectForm button {
    width: 60%;
    margin-bottom: 10px;
    background-color: #6db33f;
    color: #fff;
}
#connectForm button:hover {
    opacity: 80%;
}

.chat-container {
  margin-top: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.chat-input {
    float: left;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    padding-left: 10px;
    outline: none;
}

.chat-input-button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.chat-input-button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.chat-input-button.primary {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

.chat-input-button.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}


.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

#tokenForm {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);

    text-align: center;
    margin-top: 20vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
#tokenForm input {
    width: 90%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin: 15px;
    outline: none;
}
#tokenForm button {
    width: 60%;
    margin-bottom: 10px;
    background-color: #6db33f;
    color: #fff;
}
#tokenForm button:hover {
    opacity: 80%;
}
#tokenForm h2 {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ececec;
}

#error {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);

    text-align: center;
    margin-top: 20vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

#error h1, h2, h3, h4, h5, h6, p. span {
  margin-top: 20px;
  margin-bottom: 20px;
}

#error h1 {
  font-size: 1.7em;
}